<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RKM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RKM.Properties.Settings.ELBS_ConnString" connectionString="Data Source=87.237.204.173;Initial Catalog=ELBS_2018"
            providerName="System.Data.SqlClient" />
        <add name="RKM.Properties.Settings.ELBS_ReklamacijeConnString" connectionString="Data Source=87.237.204.173;Initial Catalog=ELBS_Reklamacije; User Id = elbraco; Password=elbsNK"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <applicationSettings>
        <RKM.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>Sljuka</value>
            </setting>
            <setting name="CommPort" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParityBits" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ReadTimeOut" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WriteTimeOut" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AdminID" serializeAs="String">
                <value>jovisha</value>
            </setting>
            <setting name="SendResponse" serializeAs="String">
                <value>9000</value>
            </setting>
        </RKM.Properties.Settings>
    </applicationSettings>
</configuration>
